<footer class="footer">
    <div class="container">
        <ul class="list-centered">
        <li style="margin-right: 20px;"><a routerLink="/login"><i class="fa fa-flash"></i></a> Marta Adamus </li>
        <li style="margin-right: 20px;"><i class="fa fa-instagram"></i><a href="https://www.instagram.com/madamussss/"> Instagram</a></li>
        <li style="margin-right: 20px;"><i class="fa fa-envelope"></i><a href="mailto: calambu@gmail.com"> calambu@gmail.com</a></li>
        <li style="margin-right: 20px;"><i class="fa fa-facebook"></i><a href="https://www.facebook.com/madamussss"> Facebook</a></li>
        
      </ul>
    </div>
  </footer>
