<div >
    <div class="container">
       <h2>Tattoos<button  routerLink="/tattoo-new"  class="addButton btn btn-success btn-sm d-flex align-items-center">New Tattoo</button></h2> 
    </div>
    
    <ul>
        <li *ngFor="let tattoo of tattoos">
            <a routerLink='/tattoos/{{tattoo._id}}'>{{tattoo.title}}</a>
            <div>
                <button routerLink='/tattoo-edit/{{tattoo._id}}' class="btn btn-primary btn-sm d-flex align-items-center">Edit</button>
                <button (click)="deleteThisFromDB(tattoo)" class="btn btn-danger btn-sm d-flex align-items-center">Delete</button>
            </div>
            
        </li>
    </ul>
            
        

</div>
